---
// Fundations
import Text from "@/components/fundations/elements/Text.astro";

import Wrapper from "@/components/fundations/containers/Wrapper.astro";
// Icons
import Action from "@/components/fundations/icons/Action.astro";
import Integrity from "@/components/fundations/icons/Integrity.astro";
import Partnership from "@/components/fundations/icons/Partnership.astro";
const philosophyCards = [
  {
    icon: Integrity,
    title: "Signal over noise",
    description:
      "I focus on what actually matters. That means cutting through vanity metrics, conflicting dashboards, and half-working setups to surface the few signals that drive real decisions. No inflated reports. No buzzwords. Just data you can trust.",
  },
  {
    icon: Action,
    title: "Practical execution",
    description:
      "I don’t deliver theory or frameworks for their own sake. I audit, fix, and implement tracking and attribution systems that work in the real world and hold up under scrutiny.You leave with clarity and next steps, not a slide deck.",
  },
  {
    icon: Partnership,
    title: "Systems that last",
    description:
      "I build measurement systems that teams can maintain without me. Clean GA4, reliable GTM, and CRM data that stays usable as the business grows. The goal is fewer fixes later, not long-term dependency.",
  },
];
---

<section class="bg-base-50">
  <Wrapper variant="standard" class="py-20 lg:py-28">
    <div class="grid grid-cols-1 lg:grid-cols-4 items-start gap-y-8">
      <Text
        tag="p"
        variant="textXS"
        class="text-secondary-500 tracking-wide uppercase"
      >
        Values
      </Text>
      <div class="lg:col-span-3">
        <Text
          tag="h2"
          variant="displayLG"
          class="text-accent-800 font-display text-balance"
        >
          How I work
        </Text>
        <Text tag="p" variant="textLG" class="text-base-600 mt-4">
          I focus on clarity over complexity.

          Clean tracking, reliable data, and decisions you can defend.
          My goal is to remove noise, not add tools.

        </Text>
      </div>
    </div>
    <div class="grid grid-cols-1 lg:grid-cols-3 mt-12 lg:mt-24 gap-8">
      {
        philosophyCards.map((card) => (
          <div class="bg-white border border-base-100 rounded-sm p-8 flex flex-col border-t-2 border-accent-200 pt-6">
            {card.icon && <card.icon class="size-8 text-secondary-400 " />}
            <Text
              tag="h3"
              variant="displaySM"
              class="text-accent-800 font-display mt-12"
            >
              {card.title}
            </Text>
            <Text
              tag="p"
              variant="textSM"
              class="text-base-600 font-medium mt-2"
            >
              {card.description}
            </Text>
          </div>
        ))
      }
    </div>
  </Wrapper>
</section>
