---
// Fundations
import BaseLayout from "@/layouts/BaseLayout.astro";
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
// Components
import CasesCard from "@/components/cases/CasesCard.astro";
// Content
import { getCollection } from "astro:content";
const allCases = await getCollection("cases");
allCases.sort((a, b) => {
  const dateA = new Date(a.data.pubDate).getTime();
  const dateB = new Date(b.data.pubDate).getTime();
  return dateB - dateA; // Most recent first
});
---

<BaseLayout>
  <section>
    <Wrapper variant="standard">
      <Text
        tag="h1"
        variant="textLG"
        class="order-last font-serif uppercase lg:order-none col-span-full lg:col-span-2 text-base-900"
      >
        Cases
      </Text>
      <div
        class="mt-12 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-y-24 gap-8"
      >
        {allCases.map((caseItem) => <CasesCard post={caseItem} />)}
      </div>
    </Wrapper>
  </section>
</BaseLayout>
